@charset "utf-8";
/* CSS Document */

#header{height:170px;}
button{outline-style: none;}
#container{width:935px; position:relative;  background:#f5eccf url(../img/sub/container_footerBg.gif) no-repeat 0 bottom; left:10px; padding-bottom:40px;}
.con_header{width:945px; height:123px; background:#fc0; background:url(../img/sub/conHeader_bg.gif) no-repeat; position:relative; left:-10px;} 
.con_header p{color:#fff; font-size:1.8em; font-family:"Times New Roman", Times, serif; position:absolute; left:10px; top:41px; font-weight:bold; padding-left:10px;}

#con_container{width:910px; border:solid 1px #cccccc; background:#fff; margin:0 auto; overflow:hidden;}
#con_container:after{content:''; display:block; clear:both;}

.snb{width:203px; border-right:solid 1px #cccccc; float:left; background:#fff; padding-bottom:20px;}
.snb h2{height:34px; border-bottom: dotted 1px #ccc; padding:20px 10px 0;}
.snb dl{padding:20px 0px 0 2px; }
.snb dt{  border-bottom: dotted 1px #ccc; padding:1px 0px; margin:5px 0; position:relative; left:0px; width:201px}
.snb dd{padding:0 20px;  }
.snb dd li{background:url(../img/icon/bu_red.gif) no-repeat 0 7px; padding-left:8px;}
.snb dt .upDown{width:7px; height:6px; position:absolute; right:10px;  top:10px; background:url(../img/icon/icon_down.png) no-repeat;}
.snb dd ul{width:178px;}

#contents{width:700px; float:left; background:#fff; border-left:solid 1px #cccccc; margin-left:-1px;}

#contents .top_title{width:100%; border-bottom: dotted 1px #ccc; height:54px;}
#contents .fb-like{float: left;line-height:54px; margin: 20px 0;}
#contents h2{line-height:54px; padding:0px 20px; font-size:1.5em; word-spacing:-0.2em; color:#666; float: left;}
#contents .cont{width:95%; margin:10px auto; /* background: aqua; */}

/* menu/menu : 메뉴화면 */
#menuBoxWrap{width:100%; padding:0 0 30px 0;}
#menuBoxWrap:after{content:''; display:block; clear:both;}
#menuBoxWrap .menuBox{width:100%;}
#menuBoxWrap .menuBox .menu{float:left; margin:20px 18px 0 0px;}
#menuBoxWrap .menuBox .b_detail{cursor:pointer;}

#menuBoxWrap .promotion{clear: both; background:#f5eccf url(../img/menu/img/00/promotion_201402.jpg) no-repeat 0 bottom;}

/* 이벤트 */
#emailing_input{width:660px; margin:0 auto; border:2px solid #fcc; background: #fcfbf4; padding:10px; text-align: left;}
#emailing_input h1{height:30px; line-height:30px; font-size: 1px;  text-indent:-2000px; background:url(../img/event/emailing_icon.gif) no-repeat left center;border: none;}
#emailing_input #email_addr{width:200px;}

#event_section{width:700px; margin:0 auto;}
#event_section li{width:620px; height:100px; padding-top:10px; padding-left:10px; border-bottom:#ccc dotted 1px;}
#event_section .thum{width:354px; height:83px; padding:4px 0; background:url(../img/event/img_bg.png) no-repeat; text-align:center; float:left;}
#event_section .event{width:260px; float:right; padding:13px 0 0;}
#event_section .event p{margin:5px 0;}

#event_view_section h4{padding:10px 0;border-bottom:solid 1px #ccc; font-size:1.3em; text-align:center; background:url(../img/event/subject_bg.gif);}
#event_view_section h5{padding:10px 0;border-bottom:solid 1px #ccc; font-size:1.2em; text-align:center; background:url(../img/event/subject_bg.gif);}
#event_view_section .date{text-align:left; padding:10px 0; text-align:right} 
#event_view_section .img{border-bottom:1px #ccc solid; padding:0px 0 20px;}
.comm_list li{position:relative; top:0px; left:0px;}
.comm_list .btn{position:absolute; top:6px; right:10px;}

.list, .view {width:650px; margin:0 auto; padding:5px 0 10px; font-size:11px;}
.list table, 
.view table {width:100%; border-bottom:3px solid #efefef; border-top:3px #009470 solid;}
.list thead, 
.view thead{height:32px;  font-size:12px;}
.list table thead th, 
.view table thead th {text-align:center; font-weight:bold; color:#666; background:url(../img/event/subject_line.gif) no-repeat right 19px; border-bottom:solid 1px #ccc;}
.list table td{border-bottom:dotted 1px #ccc; text-align:center;  padding:5px 0; }
.list table .subject{text-align:left; padding-left:5px; }
.list .page{padding:0 0 10px; text-align:center;}
.list #search{padding:5px 5px 5px 0; background:#efefef;  margin:10px 0; text-align:center;}
.view tbody .comm{min-height:300px; padding:20px; text-align:left; font-size:12px;}
.view .btn{padding:5px 0;}
.view table thead td{border-bottom:solid 1px #ccc;}

/* 파파존스 이야기 : 채용정보 */
/* 2013/05/27 수정 */
#history_area .hist_back_cont1{background:url(../img/story/story_p1.jpg) no-repeat right 50px;}
#history_area .hist_back_cont2{background:url(../img/story/story_p2.jpg) no-repeat right -20px;}
/*#history_area .hist_back_cont1 p, #history_area .hist_back_cont2 p{display:none;}*/
#history_area .history_list li{position:relative; margin:10px 0; clear:both;}
#history_area .history_list li:after{content:''; display:block; clear:both;}
#history_area .history_list dl{width:580px; padding:0 0 10px 80px;}
#history_area .history_list dl:after{content:''; display:block; clear:both;} 
#history_area .history_list h3{ width:80px; position:absolute;}
#history_area .history_list dt{float:left; width:30px;  }
#history_area .history_list dd{float:left; width:550px; padding:3px 0 0 0 ; font-size:12px; word-spacing:-0.2em;}

#awarded_area {width:630px; margin:0 auto;}
#awarded_area .text1{background:url(../img/story/story_text_img1.gif) no-repeat 0 20px; width:630px; height:144px;}
#awarded_area .text1 *{display:none;}
#awarded_area .article{border:solid 1px #ccc; width:600px; padding:10px; height:auto; background:url(../img/common/gray_line.gif) repeat-y 90px 0; margin:10px 0;}
#awarded_area .article:after{content:''; clear:both; display:block;}
#awarded_area .article dt{ width:80px; float:left;}
#awarded_area .article dd{width:500px; float:left; text-align:left; padding:0 0 0 10px; font-size:11px; word-spacing:-0.2em; color:#666;}
#awarded_area .article dd p.tit{font-size:12px; font-weight:bold; word-spacing:-0.2em;}


/* 피자스토리 레이아웃 */
#story_area{width:653px; margin:0 auto;/*  background: #fcc; */}
#story_area .story_ingredients{background:url(../img/story/pizza_story.png) no-repeat 428px 42px; border-bottom: 3px solid #eee;}
#story_area #tab_section{margin-top:5px; }
#story_area .tab{margin-top: -15px;}
#story_area .tab .text p{padding-left:222px;}
#story_area .tab_cont1{background:url(../img/story/story_tab1_dough.gif) no-repeat 5px 34px; border:1px solid #eee;}
#story_area .tab_cont2{background:url(../img/story/story_tab2_sauce.gif) no-repeat 5px 34px; border:1px solid #eee;}
#story_area .tab_cont3{background:url(../img/story/story_tab3_vegetable.gif) no-repeat 5px 34px; border:1px solid #eee;}
#story_area .tab_cont4{background:url(../img/story/story_tab4_cheeze.gif) no-repeat 5px 50px; border:1px solid #eee;}


/* 창립스토리 영역 */ 
#story_area{width:653px; margin:0 auto;/*  background: #fcc; */}
#story_area .story_camaro{background:url(../img/story/camaro_story.png) no-repeat right 34px; border-bottom: 3px solid #eee;}
#story_area .story_camaro p{padding-right:250px;}


#report_area{width:614px; height:auto; text-align:left; margin:0 auto; font-size:11px;}
#report_area:after{content:''; display:block; clear:both;}
#report_area dl.article{width:270px; border:solid #ddd 2px; padding:10px; margin:5px 0;  word-spacing:-0.3em; color:#666; position:relative}
#report_area dl.article:hover{border:solid #009470 3px;}
#report_area dl.article dd, #report_area dl.article dt{padding-bottom:10px;}
#report_area dl.article dd span{position:absolute; right:10px;} 
.flot_left{float:left;}
.flot_right{float:right;}

.left_area{width:305px; margin-right: 4px; position: relative; left:0; float:left;}
.right_area{width:305px; float:right; right:0; position: relative;}

#recruit p{border-bottom:dotted #ccc 1px; padding:5px; }
#recruit fieldset{padding:20px 0;}

#cf_box .list {width:250px; height:320px; float:left; font-size:12px;}
#cf_box .list dt{width:55px; float:left; padding:10px;}
#cf_box .list dd{float:left;}
#cf_box .list dd li{padding:2px 0;}
#cf_box .list dd li img{cursor:pointer;}
#cf_box .list .cf_korea dd{height:100px; overflow:auto; width:175px;}
#cf_box .list .cf_global dd{height:200px; overflow:auto; width:175px;}
#cf_box .public_tv{width:385px; height:320px; background:url(../img/story/tv_bg.gif) no-repeat; float:right; padding:10px 0;}
#contribute_box {padding-bottom:50px;}
/* 2013/05/27
#contribute_box .activ1{ height:150px; background:url(../img/story/contribute_p1.png) no-repeat center 10px;}
#contribute_box .activ2{ height:150px; background:url(../img/story/contribute_p2.png) no-repeat center 0;}
*/
legend.leg_tit{display:inline-block; background:url(../img/story/line.gif) no-repeat 0 bottom; width:100%; height:25px;}

/* 고객센터 */
/* FAQ */
.tabMenu {height:58px;}
.tabMenu li{float:left;}
.tab .title{padding:0 0 20px 0;}
.tab .q{background:url(../img/customer/faq_q.gif) no-repeat; height:44px; line-height:44px; padding:0 0 0 50px; cursor:pointer}
.tab .a{background:url(../img/customer/faq_a.gif) no-repeat; padding:10px 0 10px 50px; margin-bottom:20px;}
ol.decimal{padding-left:20px;}
ol.decimal li{list-style-type:decimal; margin:5px 0;}
/* 매장정보 */
#store_section{width:650px; margin:0 auto; font-size:11px;}
#store_section #openStore_section { margin:0 auto; border:solid 1px #ccc; height:120px; position:relative; width:620px;}
#store_section .title{padding:20px 0 10px;}
#store_section #openStore_section .list_box {height:115px; overflow:hidden; width:500px; position:absolute; left:0px; top:0px;}
#store_section #openStore_section .list_box .item{height:112px; position:absolute; width:500px; left:00px; top:0px;}
#store_section #openStore_section .list_box .item .new{position:absolute; left:20px; top:0px;}
#store_section #openStore_section .list_box .item .store .info{position:absolute; top:3px; left:216px;}
#store_section #openStore_section .list_box .item .store .info .tit{font-weight:bold}
#store_section #openStore_section .list_box .item .store .photo{width:140px; height:96px; border:1px #ccc solid; text-align:center; padding:12px 0 0 0; position:absolute; left:46px; top:5px;}

#store_section #openStore_section .prev{position:absolute; right:3px; top:3px;}
#store_section #openStore_section .next{position:absolute; right:3px; bottom:3px;}
#store_section #store_list{padding:5px 0 0 0;}
#store_section #store_list .store{ border-bottom:3px solid #eee; border-top:3px #009470 solid; width:620px;}
#store_section #store_list .store .list{padding:5px 10px;  border-bottom:dotted 1px #ccc; width:600px;}
#store_section #store_list .store .list:after{content:''; clear:both; display:block}
#store_section #store_list .store .list ul{padding:5px 0 0 20px; float:left;}
#store_section #store_list .store .info .tit{font-weight:bold;}
#store_section #store_list .store .photo{width:130px; height:96px; border:1px #ccc solid; text-align:center; padding:14px 0 0 0; float:left;}
#store_section #store_list .map{float:right; position:relative; top:20px;}
#store_section #store_list .page{padding:10px 0;}

#store_section #store_detail{width:605px; border:1px #ccc solid;  padding:10px; }
#store_section #store_detail:after{content:''; clear:both; display:block;}
#store_section #store_detail .store .photo{width:140px; height:100px; border:1px #ccc solid; text-align:center; padding:5px 0 0 0; float:left;}
#store_section #store_detail .store .info{float:left; padding:1px 0 0 8px;}
#store_section #store_detail .store .info .tit{font-weight:bold}
#store_section #store_detail .s_map{ position:relative; top:20px; text-align:left; border:1px #ccc solid; padding:5px; width:615px}

/* 매장검색 : map */
#search_store{position:relative; top:0; left:0; margin:0 0; height:320px; }
.search_map{position:absolute; width:271px; height:320px; left:20px}
.search_map p{position:absolute; top:0px; left:0px; width:271px; height:431px;}
#store_search_form{position:absolute; width:310px; left:280px; top:80px; text-align:left}
/* 제휴카드 안내 2013/05/27 */
.blank *{display:none;}
#memCard_box ul{padding-left:230px; padding-top:25px;}
#memCard_box ul li{background:url(../img/icon/bu_cercle.gif) no-repeat 0 5px; padding-left:15px;}
#memCard_box .card1{min-height:224px; background:url(../img/customer/memCard1.png) no-repeat; margin:30px 0;}
#memCard_box .card2{min-height:241px; background:url(../img/customer/memCard2.png) no-repeat; margin:30px 0;}
#memCard_box .card3{min-height:208px; background:url(../img/customer/memCard3.png) no-repeat; margin:30px 0;}

#credCard_box ul{padding-left:220px; padding-top:25px;}
#credCard_box ul li{background:url(../img/icon/bu_cercle.gif) no-repeat 0 5px; padding-left:15px;}
#credCard_box .card1{width:630px; height:208px; background:url(../img/customer/credCard1.png) no-repeat; margin:30px 0;}
#credCard_box .card2{width:630px; height:208px; background:url(../img/customer/credCard2.png) no-repeat; margin:30px 0;}
#credCard_box .card3{width:630px; height:208px; background:url(../img/customer/credCard3.png) no-repeat; margin:30px 0;}
#credCard_box .card4{width:630px; height:208px; background:url(../img/customer/credCard4.png) no-repeat; margin:30px 0;}
#credCard_box .card5{width:630px; height:208px; background:url(../img/customer/credCard5.png) no-repeat; margin:30px 0;}
#credCard_box .card6{width:630px; height:208px; background:url(../img/customer/credCard6.png) no-repeat; margin:30px 0;}
#credCard_box .card7{width:630px; height:208px; background:url(../img/customer/credCard7.png) no-repeat; margin:30px 0;}
#credCard_box .card8{width:630px; height:208px; background:url(../img/customer/credCard8.png) no-repeat; margin:30px 0;}
#credCard_box .card9{width:630px; height:208px; background:url(../img/customer/credCard9.png) no-repeat; margin:30px 0;}


/* order : 매장찾기 팝업부분 */
.store_sel_th{width:275px; margin:0; position:relative; border:1px #ddd solid;}
.store_sel_th table th{text-align:center; color:#003900; font-weight:600; font-size:12px;  border:1px #ddd solid;}
/* 매장 리스트 테이블 */
#store_search_box{width:275px; height:100px; margin:0; background:#fff; border:1px #ddd solid;}
#store_search_box td{border:1px #ccc dotted; border-bottom:1px #ccc solid;}
#store_search_box li{font-size:11px; }
#store_search_box li:hover{background:#efefef; cursor:pointer;}
#store_search_box li.none{color:#ccc}
#store_search_box li.none:hover{background:none; cursor:default;}
#store_search_box .s_name{font-weight:600;}


/* member/pj_0001 : 로그인페이지 */
#login_section{position:relative; top:0px; left:0px; width:580px; height:257px; margin:20px auto 50px;}
#login_section #member, #login_section #nonmember{width:580px; height:257px; background:url(../img/forms/login_bg.png) no-repeat center 0px; font-size:11px; color:#999}
#login_section .btn_nonmember{width:190px; height:120px; float:left;}
#login_section .text{padding:5px 10px; text-align:left; line-height:1.3em;}
#login_section .btn_join{width:190px; height:120px; float:left;}
#login_section .login_box{width:300px; height:51px; float:left}
#login_section .login_btn{width:62px; height:51px; float:left;}
#login_section #member form, #login_section #nonmember form {width:380px; margin:0 auto; position:relative; top:10px; left:50px; }

#login_section #member .title{background:url(../img/forms/login_mem_title.gif) no-repeat 80px 20px; width:100%; height:50px;}
#login_section #member .mem_form{width:380px; height:60px;  text-align:right;}
#login_section .login_btn{float:right;}
#login_section .login_box{float:left; width:310px;}
#login_section #member .find_id_pw{text-align:left; clear:both; position:relative; left:13px; top:0px}
#login_section #member .find_id_pw p{float:left;}
#login_section #member .find_id_pw .text{background:url(../img/icon/icon_gray1.gif) no-repeat 0 8px; padding-left:10px;}
#login_section #member .non_join{padding:5px 0;}
#login_section #member input[type=text]{margin-bottom:0px;}

#login_section #nonmember{position:absolute; top:0px; left:0px; display:none;}
#login_section #nonmember .title{background:url(../img/forms/login_nonmem_title.gif) no-repeat center 20px; width:100%; height:50px;}
#login_section #nonmember .mem_form{width:380px; height:80px;  text-align:right; padding-top:9px}
#login_section #nonmem_ord_mobile1,#login_section #nonmem_ord_mobile2,#login_section #nonmem_ord_mobile3{width:62px}
#login_section #mem_id, #login_section  #mem_pw, #login_section  #nonmem_ord_name{width:245px; margin:2px 0;}
#login_section #nonmember #nonmem_ord_name{margin:0px 0 8px}

/* member/pj_0001 : 로그인페이지 2013/05/27 */
#find_idPass_section {position:relative; top:0px; left:0px; width:580px; height:257px; margin:20px auto 50px;}
#find_idPass_section #find_idPass {width:580px; height:257px; background:url(../img/forms/login_bg.png) no-repeat center 0px; font-size:11px; color:#999}
#find_idPass_section #find_idPass .title{background:url(../img/forms/find_idPass_title.gif) no-repeat 160px 20px; width:100%; height:100px;}
#find_idPass_section #find_idPass .mem_form{width:410px; height:90px;  text-align:right; margin:0 auto; position:relative; top:0; left:80px;}
#find_idPass_section .login_box{float:left; width:330px;}
#find_idPass_section .btn{width:80px; height:120px; float:left;}
#find_idPass_section .btn_box{float:left; position:relative; left:160px;}
#find_idPass_section #custMobile1,#find_idPass_section #custMobile2, #find_idPass_section #custMobile3{width:64px}
#find_idPass_section #custName, #find_idPass_section #custEmail{width:245px; margin:2px 0;}

/* 회원가입 : 실명인증 */
#join_certify_section{width:600px; position:relative; top:0px; left:0px; margin:30px auto;}
#join_certify_section h3{width:100%; height:56px; background:url(../img/forms/join_nameCertify_title.gif) no-repeat 20px 0;}
#join_certify_section #join_certify{width:596px; height:203px; background:url(../img/forms/join_nameCertify_bg.gif) no-repeat;}
#join_certify_section .mobile, #join_certify_section .ipin{width:262px; height:158px; float:left}
#join_certify_section .mobile {position:relative; top:90px; left:20px;}
#join_certify_section .ipin {position:relative; top:60px; left:60px;}
#join_certify_section .mobile .btn button{width:262px; height:46px; background:url(../img/forms/join_btn_mobileCertify.gif); text-indent:-9999px; font-size:0px; display:block;}
#join_certify_section .mobile .btn button:hover{background:url(../img/forms/join_btn_mobileCertify_on.gif);}
#join_certify_section .ipin .btn button{width:262px; height:46px; background:url(../img/forms/join_btn_ipinCertify.gif); text-indent:-9999px; font-size:0px;  display:block; }
#join_certify_section .ipin .btn button:hover{background:url(../img/forms/join_btn_ipinCertify_on.gif);}
#join_certify_section .ipin .help_btn{height:30px; text-align:right;}
#join_certify_section .text{width:180px; text-align:left; color:#999; margin:0 auto; position:relative; left:20px; top:-30px; } 
#join_certify_section .ipin .text{top:0px;}

/* 회원가입 : 약관동의 */
#join_clause_section{width:700px; margin:30px auto}
#join_clause_section #join_benefit {height:150px;}
#join_clause_section #join_benefit h3{width:100%; background:url(../img/forms/join_benefit_title.gif) no-repeat 10px 0; height:50px;}
#join_clause_section #join_benefit .comment{width:100%; background:url(../img/forms/join_benefit_comment.gif) no-repeat; height:50px;}
#join_clause_section #join_clause h3{width:100%; background:url(../img/forms/join_clause_title.gif) no-repeat 10px 0; height:50px;}
#join_clause_section #join_terms h3{width:100%; background:url(../img/forms/join_terms_title.gif) no-repeat 10px 0; height:50px;}
#join_clause_section .select_gree{padding:20px 0; text-align:right}
#join_clause_section .select_gree span{font-weight:bold; background:url(../img/icon/icon_gray1.gif) no-repeat 0 2px; padding-left:10px;}
#join_clause_section .btn{text-align:center;}

/* 회원가입 : 정보입력 */
#join_form_section{width:600px; margin:30px auto;}
#join_form_section .title{background:url(../img/forms/join_form_title.gif) no-repeat 0 0; width:100%; height:50px;}
#join_form_section .form{}
.form .tit{display:block; width:100px; float:left; height:20px; background:url(../img/icon/icon_gray1.gif) no-repeat 0 5px; padding-left:10px;}
.form p{border-bottom:dotted #ccc 1px; padding:10px;}
.form .btn{width:100%; text-align:center; padding:20px 0;}
.form input.base{width:150px; border:1px #ccc solid;}
.form input.w50{width:50px; border:1px #ccc solid;}
.form input.w200{width:200px; border:1px #ccc solid;}
.form input.w400{width:400px; border:1px #ccc solid;}

/* .ord_list li{border-bottom:solid 1px #ccc; padding:5px 5px;}
.ord_list li span.tit{display:block; float:left; width:100px;} */

/* 가맹점안내 */
#franch_area {width:700px; margin:30px auto}
#franch_area .cont1{position:relative;}
#franch_area .back_text *{display:none}
#franch_area .cont1 .back_text{background:url(../img/franchise/fran_text1.gif) no-repeat 0 20px; width:684px; height:590px;}
#franch_area .cont2 .back_text{background:url(../img/franchise/fran_text2.gif) no-repeat center 20px; width:100%; height:658px;}
#franch_area .cont3 .counsel{border:solid 1px #ccc; width:659px; margin-left:20px;}

table.greenTB{width:95%; border-top:3px #009470 solid; border-bottom:1px #009470 solid; margin:0 auto;}
table.greenTB thead th{text-align:center; font-weight:bold; line-height:2.3em; border-bottom:1px #009470 solid;}
table.greenTB tbody td{text-align:center; border-bottom:dotted 1px #ccc; line-height:2.3em}
table.greenTB tbody th{text-align:left; border-bottom:dotted 1px #ccc; font-weight:bold; line-height:2.0em; padding-left:5px; padding-right:5px;}
table.greenTB #col2 {background:#efefef;}
table.greenTB #col4 {background:#efefef;}

table.counselTb{border:solid 1px #ccc; padding:10px; margin-left:20px; margin-bottom:10px;}
table.counselTb td, table.counselTb th{padding:5px 10px;  border-bottom:dotted 1px #ccc;}
table.counselTb th{color:#666; font-weight:bold; background:url(../img/icon/bu_red.gif) no-repeat 5px 13px #efefef;  padding-left:14px;}
.b_border_list li{border-bottom:dotted 1px #ccc;}

/* 가맹점 성공스토리 화면 레이아웃 */
#franch_area #store_list{padding:5px 0 0 15px; font-size: 14px;}
#franch_area #store_list .store{ border-bottom:3px solid #eee; border-top:3px #009470 solid; width:620px;}
#franch_area #store_list .store .list{padding:7px 10px;  border-bottom:dotted 1px #ccc; width:600px;}
#franch_area #store_list .store .list:after{content:''; clear:both; display:block}
#franch_area #store_list .store .list ul{padding:5px 0 0 20px; float:left;} 
#franch_area #store_list .store .list ul li a{height:30px; color: #fff; padding-left:7px; padding-right:3px; float: right;position:absolute; right:216px;}
#franch_area #store_list .store .list ul li a:hover{font-weight: bold;}
#franch_area #store_list .store .info .tit{font-weight:bold}
#franch_area #store_list .store .photo{width:72px; height:76px; border:1px #ccc solid; text-align:center; float:left;}

/* 마이페이지 상세*/
#my_ordView_section{width:480px;}
#my_ordView_section .reciep_header{width:360px; position:relative;}
#my_ordView_section .reciep_header span{position:relative; left:-40px;}
#my_ordView_section .table_list th{height:26px; border-bottom:2px solid #ddd;}
.bottom_btn{clear:both; height:60px; position:relative;  text-align:center; }

/* 20140520 마이페이지 헤더에 이벤트확인 버튼 삽입 */
/* 20140627 마이페이지 이벤트 버튼 숨김 */
#myEventBtn{float: right; margin-right:10px; padding-top:10px; display: none;}


/* 사이트맵 */
#sitemap_area{width:730px; margin:0 auto;}
#sitemap_area:after{content:''; clear:both; display:block;}
#sitemap_area dl{float:left; width:158px; margin:0px 24px 40px 0; }
#sitemap_area dl dd a{display:block; background:url(../img/sitemap/con1.gif) no-repeat 10px 12px; padding:10px 0 0 35px; line-height:20px;}
#sitemap_area dl dd ul{padding:5px 0 0 35px; }
#sitemap_area dl dd ul li a{display:block; background:url(../img/icon/bu_red.gif) no-repeat 0 7px; padding:0 0 0 10px; line-height:15px; color:#999;}
#sitemap_area dl dd ul li a:hover{color:#e11837;}